#article-list{
	width:100%;
	text-align:center
}#article-list .article-item{
	width:80%;
	padding:10px;
	box-sizing:border-box;
	text-align:left;
	box-shadow:0 0 2px #888888
}#article-list .article-item img{
	width:60px;
	height:60px
}
